* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.nav-bar {
    background-image: url(../../assests/top_pink_grass.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 12rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
   
}

.nav-item-desktop {

}

.nav-item-desktop ul {
    display: flex;
    justify-content: center;
    gap: 8rem;
}

.nav-item-mobile {
    display: none;
}

.nav-item-desktop ul li {
    padding-top: 1.5rem;
    list-style: none;
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.mobile-menu-icon {
    margin-right: 0.5rem;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.hemburger-icon {
    display: none;
    
}

@media (max-width: 1400px) { 

    .nav-bar {
        background-image: url(../../assests/top_pink_grass.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 10rem;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
       
    }
}

@media (max-width: 1260px) { 

    .nav-bar {
        background-image: url(../../assests/top_pink_grass.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 8rem;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
       
    }

    .nav-item-desktop ul {
        display: flex;
        justify-content: center;
        gap: 6rem;
    }

    .nav-item-desktop ul li{
        font-size: 1.3rem;
    }
}


@media (max-width: 1000px) { 

    .nav-bar {
        background-image: url(../../assests/top_pink_grass.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 8rem;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
       
    }

    .nav-item-desktop ul {
        gap: 4rem;
    }

    .nav-item-desktop ul li{
        font-size: 1.2rem;
    }
}



@media (max-width: 899px) {

    .nav-bar {
        padding: 1rem 0 1rem 0;
    }
    .nav-item-desktop {
        display: none;
    }

    .hemburger-icon {
        display: flex;
        float: right;
    }

    .nav-item-mobile {
        display: block;
        margin-bottom: 10%;
    }

    .nav-item-mobile ul{
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        margin-top: 4.5%;
        width: 100%;
        margin-bottom: 20%;
    }

    .nav-item-mobile ul li {
        display: inline;
        background-color: #FF7D9F;
        padding: 1rem;
        list-style: none;
        font-size: 1.2rem;
        color: #ffffff;
        font-weight: bold;
        cursor: pointer;
    }

}


@media (max-width: 660px) {
    .nav-item-mobile ul{
    
        margin-top: 6%;
      
    }
}

@media (max-width: 480px) {
    .nav-item-mobile ul{
    
        margin-top: 8%;
      
    }
}

@media (max-width: 370px) {
    .nav-item-mobile ul{
    
        margin-top: 10%;
      
    }
}